* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 900;
    font-style: normal;
}
body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin:75px 0;
    background-color: #00003e;
}
h1 {
    font-size: 52px;
    color: grey;
}
.calculator-body {
    flex-shrink: 0;
    width: 310px;
    color: rgb(182, 182, 182);
    background-color: rgb(0, 0, 0);
    padding: 16px;
    border: 2px solid black;
    border-radius: 20px;
}
#cal-display {
    display: flex;
    min-height: 90px;
    justify-content: flex-end;
    background-color: rgb(54, 54, 54);
    padding: 20px 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}
button {
    width:55px;
    height:55px;
    padding: 12px;
    background-color:  rgb(182, 182, 182);
    border: 2px solid black;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}
.clear-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
}
.clear-buttons button {
    background-color: rgb(235, 125, 0);
}
.main-set {
    display: flex;
    margin: 10px;
    gap: 10px;
}
.number-set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.operator-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.operator-set button {
    background-color: rgb(235, 125, 0);
}